/* Contain padding and borders in width calcs */
* {
    box-sizing: border-box;
}

/*rules that apply to all devices */
header h1 {
    font-size: 300%;
    font-family: sans-serif;
    padding-left: 24px;
    margin-top: 0em;
    padding-top: 12px;
}

/* rules that apply ONLY to screens 768 pixels and wider */
@media (min-width: 768px) {
    header h1 {
        font-size: 400%;
    }

    header p {
        font-size: 18px; /* increase font size to 18 pixels for larger screens */
    }
}

/* new header img */
header {
    color: white;
    vertical-align: baseline;
    background-color: lightgray;
    background-image: url(../img/prague.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20em;
}

/* add padding and background color to body of text */
body {
    padding-left: 0em;
    padding-right: 0em;
    background-color: lightgray;
    background-image: -webkit-gradient(left top, from(gray), to(white));
    background-image: -webkit-linear-gradient(bottom right, gray, white);
    background-image: -moz-linear-gradient(bottom right, gray, white);
    background-image: linear-gradient(to bottom right, gray, white);
    color: black;
}

/* Navbar properties */
div.container-fluid {
    padding-left: 0em;
    padding-right: 0em;
}

ul.nav.navbar-nav {
    margin: auto;
    padding-top: 0.25em;
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 0em;
}

ul.nav.navbar-nav.navbar-right a {
    padding-left: 1em;
    padding-right: 0em;
}

nav.navbar.navbar-default {
    margin-bottom: 0px; 
    font-size: 16px;
    font-family: sans-serif;
    color: black;
}

/* remove pad main--for navbar alignment */
main {
    padding-left: 0px;
}

/* bold h3 */
main h3 {
    font-weight: bold;
}

/* set font for CV text */
main p {
    font-family: Arial, Helvetica, sans-serif;
}

/* pad text in CV to align with h1 and navbar */
div.cv-text {
    padding-left: 30px;
}