/* header background color? */

header {
    background-color: lightgray;
    color: black;
}

/* header font toggle */
header h1 {
    font-size: 500%;
}

header p {
    font-size: 150%;
    font-family: Raleway;
}

/* header navbar remove padding */
.navbar-collapse {
    padding-left: 0em;
}

/* Add main background image */

main {
    background-image: url(../img/classroom.jpg);
    background-size: cover;
    background-position: right;
    height: 5.6in;
}
