/* Contain padding and borders in width calcs */
* {
    box-sizing: border-box;
}

/*rules that apply to all devices */
header h1 {
    font-size: 300%;
    font-family: sans-serif;
    padding-left: 12px;
    margin-top: 0em;
    padding-top: 12px;
}

header p {
    font-family: Raleway;
    padding-left: 12px;
    font-size: 16px; /* default font size is 16px */
}

/* rules that apply ONLY to screens 768 pixels and wider */
@media (min-width: 768px) {
    header h1 {
        font-size: 400%;
    }

    header p {
        font-size: 18px; /* increase font size to 18 pixels for larger screens */
    }
}

/* default header background color and gradient */
header {
    background-color: lightgray;
    background-image: -webkit-gradient(left top, from(gray), to(white));
    background-image: -webkit-linear-gradient(bottom right, gray, white);
    background-image: -moz-linear-gradient(bottom right, gray, white);
    background-image: linear-gradient(to bottom right, gray, white);
    color: black;
}